%article{data:{user:{id:"#{message.user.id}"}}, class: 'message'}
  #user
    %h4= message.user.name.to_s
  %pre
    %code
      = message.content
:javascript
  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
