%article{data:{user:{id:"#{message.user.id}"}}}
  %pre
    %code
      = message.content
:javascript
  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
