%article{data:{user:{id:"#{message.user.id}"}}, class: 'message'}
  #user
    .avatar
      = image_tag 'loudly_icon.png'
      #name
        = message.user.name.to_s
      %p
        %small
          = Message::NOTIFICATIONS.sample
