<p>Add some music, e.g. "play :c4"!</p>
<%= form_for [ stage, Message.new ], remote: true do |form| %>
  <%= form.text_area :content, size: '100x20' %><br>
  <%= form.submit 'Post message' %>
<% end %>
