= form_for [stage, Message.new], remote: true, html: { onsubmit: 'setContent();' } do |form|
  #editor
  = form.text_area :content
  = form.submit 'Update my contribution', class: 'btn col-4'
  %button.btn.col-4
    Reset
  %button.btn.col-4
    Add sample

:javascript
  var textarea = jQuery('textarea[id="message_content"]');
  var editor   = ace.edit("editor");

  var setContent = function() {
    textarea.val(editor.getSession().getValue());
  };

  jQuery(document).ready(function(){
    textarea.hide();

    editor.getSession().setValue(textarea.val());
    editor.setTheme("ace/theme/solarized_dark");
    editor.getSession().setMode("ace/mode/ruby");
  });
