// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
// @import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

body {
  padding: 0;
  margin: 0;
}

button{
  margin: 2px;
}

p {
  background-color: white;
  border: 4px dotted $dark-gray;
  border-radius: 10px;
  padding: 10px;
  color: green;
}
