.stage {  
  $base-border-radius: 3px !default;
  $base-border-thickness: 0px;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  $stage-color: $dark-gray;

  #headline {
    position: fixed;
    top: 2%;
    left: 1%;
    width: 20%;
    h1 {
      font-size: 2em;
      font-weight: 900;
      opacity: 0.6;
      color: $light-mint;
    }
    h4 {
      font-size: 1em;
      opacity: 0.6;
    }
  }

  #actions {
    button {
      margin-left: 0;
      margin-right: 2px;
    }

    padding-left: 0px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin: 1%;
    position: fixed;
    top: 5%;
    left: 39%;
    width: 59%;

    border: $base-border-thickness solid $dark-gray;
    border-radius: $base-border-radius;

    height: 6%;
  }

  #editor {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
    position: fixed;
    top: 10%;
    left: 0;
    width: 38%;
    height: 77%;
    border: $base-border-thickness solid $dark-gray;
    border-radius: $base-border-radius;
    text-align: left;
  }

  #submitter { 
    margin: 1%;
    position: fixed;
    top: 89%;
    left: 0;
    width: 38%;
    height: 7%;
    
    border: $base-border-thickness solid $dark-gray;
    border-radius: $base-border-radius;

    text-align: left;
  }

  #messages {
    pre {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 1px;
      margin: 0;
      border-radius: $base-border-radius;
    }
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 1%;

    position: fixed;
    top: 10%;
    left: 39%;
    width: 59%;
    height: 84%;
    overflow: scroll;
    right: 0;
    
    border: $base-border-thickness solid $dark-gray;
    border-radius: $base-border-radius;
  }

}
