.staging
  .staging-inner
    .staging-copy
      %h1 You're almost ready!

      %p
        Choose a stage to enter.
      %ul
        - @stages.each do |stage|
          %li
            = link_to stage do
              %button
                = stage.title

      = link_to root_url do
        %button
          Wait. Take me back to the root page.
