.stage
  .stage-inner
    .stage-copy
      #actions
        = link_to 'Reload', reload_stage_path(resource)
        = link_to 'Stop Pi', stop_stage_path(resource)
        = link_to 'Reset', reset_stage_path(resource), method: :put
      = render 'messages/messages', stage: resource
