.hero
  .hero-inner
    %a{href: "", class: "hero-logo" }
      %img{src: "assets/lets_get_loud.jpg", alt: "Logo Image" }
    .hero-copy
      %h1 euruband
      %p
        Hi! Welcome to euruband. Who are you?
